version: "3"

services:
  #  auth:
  #    container_name: auth
  #    build:
  #      context: .
  #      dockerfile: ./apps/auth-service/Dockerfile
  #    restart: always
  #    environment:
  #      PORT: 3001
  #      BROKER_PORT: 9092
  #      DB_CONNECTION_URL: mongodb://admin:password@localhost:27017/?authMechanism=DEFAULT
  #    ports:
  #      - 3001:3001
  #    networks:
  #      - ates_network
  auth-db:
    image: mongo:latest
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    networks:
      - ates_network
  task-db:
    image: mongo:latest
    ports:
      - '27018:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    networks:
      - ates_network
  #  task:
  #    container_name: task
  #    build:
  #      context: .
  #      dockerfile: ./apps/task-service/Dockerfile
  #    restart: always
  #    environment:
  #      PORT: 3002
  #      BROKER_PORT: 9092
  #      DB_CONNECTION_URL: mongodb://admin:password@localhost:27018/?authMechanism=DEFAULT
  #      SSO_SERVICE_LOGIN_ENDPOINT: http://localhost:3001/sso/login?redirectUrl=http://localhost:3002
  #    ports:
  #      - 3002:3002
  #    networks:
  #      - ates_network
  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    ports:
      - "8080:8080"
    depends_on:
      - zookeeper
      - kafka
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
      KAFKA_CLUSTERS_0_JMXPORT: 9997

  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.0.1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "9997:9997"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_MESSAGE_MAX_BYTES: 10485760
      JMX_PORT: 9997
    healthcheck:
      test: nc -z localhost 9092 || exit -1
      start_period: 15s
      interval: 30s
      timeout: 10s
      retries: 10
#  web:
#    container_name: web
#    build:
#      context: .
#      dockerfile: ./apps/web/Dockerfile
#    restart: always
#    ports:
#      - 3000:3000
#    networks:
#      - ates_network
#  api:
#    container_name: api
#    build:
#      context: .
#      dockerfile: ./apps/api/Dockerfile
#    restart: always
#    ports:
#      - 3003:3003
#    networks:
#      - ates_network

# Define a network, which allows containers to communicate
# with each other, by using their container name as a hostname
networks:
  ates_network:
    external: true
